.text-input {
	-fx-font-size: 20;
	-fx-font-family: 'Georgia';
    -fx-text-fill: black;
    -fx-highlight-fill: burlywood;
    -fx-highlight-text-fill: black;
	-fx-control-inner-background: cornsilk;
    -fx-text-box-border: burlywood;
  	-fx-focus-color: black;
  	-fx-background-radius: 0;
}

.text-input .content {
	-fx-background-radius: 0;
}

.scroll-bar:vertical {
	-fx-pref-width: 1;
    -fx-opacity: 0;
}


