.text-input {
	-fx-alignment: center;
	-fx-font-size: 20;
	-fx-font-family: 'Montserrat';
    -fx-text-fill: black;
    -fx-highlight-fill: lightgrey;
    -fx-highlight-text-fill: black;
	-fx-control-inner-background: white;
    -fx-text-box-border: white;
  	-fx-focus-color: black;
  	-fx-background-radius: 0;
}

.text-input .content {
	-fx-background-radius: 0;
}

.scroll-bar:vertical {
	-fx-pref-width: 1;
    -fx-opacity: 0;
}

.tab-pane {
    -fx-background-color: white;
}

.tab-pane .tab-header-background {
	-fx-background-color: white;
}

.tab-pane .tab {
    -fx-background-color: white;

}

.tab-pane .tab:selected {
    -fx-background-color: lightgrey;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}


